<!doctype html>
<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <title>Hello, world!</title>
</head>
<body>

<!-- Modal -->
<ngx-smart-modal [customClass]="'modal-content no-padding'" #myBootstrapModal identifier="myBootstrapModal"
                 [closable]="false" aria-hidden="true" role="dialog"><!---->
  <div class="overlay nsm-overlay-open" >
    <div class="nsm-dialog modal-content no-padding nsm-dialog-open" style="z-index: 1041;">
      <div>
        <div class="nsm-body">
          <div class="modal-header"><h5 class="modal-title">{{selected.Title}}</h5>
          </div>
          <div class="modal-body">
            <img alt="Responsive image" class="img-thumbnail float-left" width="150" height="225" style="margin-right: 10px"
                 src={{selected.Poster}}>
            <div class="text-justify">
              <strong>Elenco:</strong> {{selected.Actors}} <br>
              <strong>Premiações:</strong> {{selected.Awards ? selected.Awards : 'N/A'}}
              <p class="py-3 float-none">{{selected.Plot}}</p>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" data-dismiss="modal" type="button"
            (click)="myBootstrapModal.close()">Fechar</button>
          </div>
        </div><!----></div>
    </div>
  </div>
</ngx-smart-modal>

<!--Busca-->
<div class="form-group col-md-4 offset-4">
  <strong><label class="col-form-label text-white no-padding" style="font-size: 30px">Filmes</label></strong>
  <div class="input-group">
    <input class="form-control py-2" type="text" id="example-search-input" placeholder="Insira o nome do filme"
           [(ngModel)]="paramSearch"
           (ngModelChange)="paramSearch = $event.currentTarget.value"
           (keypress)="onKeyPress($event, paramSearch)">
    <span class="input-group-append">
                <button class="btn btn-outline-light" type="button" (click)="filter(paramSearch)">
                    <i class="fa fa-search"></i>
                    Buscar
                </button>
              </span>
  </div>
</div>

<!--Lista-->
<ul class="list-group col-md-6 offset-4">
  <h5 class="text-white-50" *ngIf="results">Clique no filme da lista para visualizar mais detalhes...</h5>
  <li class="list-group-item" *ngFor="let result of fullResults" (click)="myBootstrapModal.open(selected=result)">

    <img src="{{result.Poster}}" class="img-thumbnail float-left" width="200" height="300">


    <div class="float-left" style="margin-left: 30px">
      <strong>Título: </strong> {{result.Title}}<br>
      <strong>Ano: </strong> {{result.Year}}<br>
      <strong>Lançamento: </strong> {{result.Released}}<br>
      <strong>Duração: </strong> {{result.Runtime}}<br>
      <strong>Gênero: </strong> {{result.Genre}}<br>
      <strong>Diretor: </strong> {{result.Director}}<br>
      <strong>Bilheteria: </strong> {{result.BoxOffice}}<br>

    </div>


  </li>

</ul>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>
